<mat-card>
  <mat-form-field>
    <mat-label>Busca un personaje</mat-label>
    <input matInput placeholder="Al terminar da enter" (keyup.enter)="getCharacterByName($event)">
  </mat-form-field>
</mat-card>

<mat-card *ngIf="(character | json) != '{}'">
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Nacimiento</th>
        <th>Genero</th>
        <th>Altura</th>
        <th>Peso</th>
        <th>Color de cabello</th>
        <th>Color de piel</th>
        <th>Color de ojo</th>
        <th>Año de nacimiento</th>
        <th>Genero</th>
        <th>Planeta</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{character?.name}}</td>
        <td>{{character?.birth_year}}</td>
        <td>{{character?.gender}}</td>
        <td>{{character?.height}}</td>
        <td>{{character.mass}}</td>
        <td>{{character.hair_color}}</td>
        <td>{{character.skin_color}}</td>
        <td>{{character.eye_color}}</td>
        <td>{{character.birth_year}}</td>
        <td>{{character.gender}}</td>
        <td>{{character.planet}}</td>
      </tr>
    </tbody>
  </table>
</mat-card>
